audio {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.parallaxImage {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parallaxImg1 {
    height: 100vh;
    background-image: url("Yama_background.jpg");
}

.parallaxImg2 {
    height: 800px;
    background-image: url("ToriGate_background.jpg");
}

.parallaxImg3 {
    height: 1000px;
    width: 100%;
    background-image: url("Gesiha_background.jpg");
}

h1 {
    background-color: rgba(243, 243, 243, 0.514);
    border-radius: 30px;
    padding: 14px 20px 14px 20px;
    padding-left: 30px;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 60px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    padding-left:30px;
}

.opener {
    display: flex;
    justify-content: center;
    font-size: 50px;
    padding:20px;
    text-align: center;
}

iframe {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}
